.setName{
  width: 40%;
  height: 1%;
  margin-left: 30%;
  margin-top: 2%;
}

.chatLabel {
  height: 3%;
  width: 50%;
  margin-left: 3%;
  margin-top: 1%;
  font-weight: bold;
}

.rooms{
  display: inline-block;
  margin-left: 8%;
  margin-top: 5%;
  width: 13%;
  height: 60%;
  border-style: solid;
  border-color: #3903b6;
  overflow-wrap: break-word;
  overflow-y: scroll;
  overflow-x: hidden;
  border-width: 2px;
  text-align: center;
}

.chat{
  width: 40%;
  height: 60%;
  margin-left: 5%;
  overflow-wrap: break-word;
  border-style: solid;
  border-color: #3903b6;
  border-width: 2px;
  display: inline-block;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chatMessage{
  width: 100%;
  height: auto;
  text-align: left;
  font-size: 16px;
  padding-top: 5px;
  padding-left: 10px;
}

.wyslij{
  width: 50%;
  margin-left: 27%;
}

button{
    margin-left: 10px;
}

